{% extends 'admin/header.html' %}

{% block content %}
<form action="" method="post" novalidate enctype="multipart/form-data">
     {{ edit_order_form.hidden_tag() }}
    <div class="input-group mb-3">
        <span class="input-group-text">{{ edit_order_form.startPeriod.label }}</span>
        {{ edit_order_form.startPeriod(class="form-control") }}
    </div>

    <div class="input-group mb-3">
    <span class="input-group-text">{{ edit_order_form.endPeriod.label }}</span>
    {{ edit_order_form.endPeriod(class="form-control") }}
  </div>

    <div class="input-group mb-3">
    <span class="input-group-text">{{ edit_order_form.standard.label }}</span>
    {{ edit_order_form.standard(class="form-control") }}
  </div>

    <div class="input-group mb-3">
    <span class="input-group-text">{{ edit_order_form.lux.label }}</span>
    {{ edit_order_form.lux(class="form-control") }}
  </div>

    <div class="input-group mb-3">
    <span class="input-group-text">{{ edit_order_form.count.label }}</span>
    {{ edit_order_form.count(class="form-control") }}
  </div>

  <div class="mb-3">
    {{ edit_order_form.submit(class="btn btn-success btn-md mb-2") }}
  </div>
</form>
{% endblock %}