{% extends 'admin/header.html' %}

{% block content %}
<form action="" method="post" novalidate enctype="multipart/form-data">
  {{ edit_review_form.hidden_tag() }}
  <h1 class="add-dataset-header">Изменить отзыв</h1>
  <div class="input-group mb-3">
    <span class="input-group-text">{{ edit_review_form.name.label }}</span>
    {{ edit_review_form.name(class="form-control", value = review["name"]) }}
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">{{ edit_review_form.review.label }}</span>
    {{ edit_review_form.review(class="form-control", value = review["review"]) }}
  </div>

  <div class="mb-3">
    {{ edit_review_form.submit(class="btn btn-success btn-md mb-2") }}
    <button type="button" class="btn btn-danger btn-md mb-2" data-bs-toggle="modal" data-bs-target="#delete">
      Удалить отзыв
    </button>
    <div class="modal fade" id="delete" style="color: black" tabindex="-1" aria-labelledby="delete" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteLabel">Подтверждение действия</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Вы действительно хотите удалить отзыв?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
            <button type="submit" class="btn btn-primary" name="delete">Да</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}