<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">   <!--meta tag for responsive viewport-->

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link
            href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
            rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}"/>

    <title>Admin panel</title>
    <style>
        body {
            background: #2D2D2D;
            color: #FFF;
        }
    </style>
</head>

<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light"
         style="background-color: #d9d9d9; border-radius: 1px 1px 5px 5px;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin">Главная</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/aboutus">О нас<span class="sr-only"></span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/photoreports">Фотоотчеты<span class="sr-only"></span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/leisure">Досуг<span class="sr-only"></span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/fishing">Рыбалка<span class="sr-only"></span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/reviews">Отзывы<span class="sr-only"></span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/roadmap">Карта развития<span class="sr-only"></span></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/contacts">Контакты<span class="sr-only"></span></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <hr>
    </div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>