{% extends 'admin/header.html' %}

{% block content %}
<div class="row gy-3">
    {% for photo in photos %}
    <div class="col-md-6 col-xl-4" style="">
        <a href="/admin/edit_photo/{{ photo._id }}" class="d-flex flex-column card"
         style="
               color: black;
               cursor: pointer;
               text-align: left;
               background-color: #d9d9d9;
               position: relative;
               border-radius: 5px 5px 5px 5px;
               text-decoration: none;
               padding: 5px;
               margin-left: 50px;
               margin-right: 50px;
               margin-top: 10px;
               height: 100%;"
        >
        <div class="new-text text-start p-3">
            <img src="{{ url_for('static', filename=photo.way) }}" class="w-100"/>

        </div>
        </a>
    </div>
  {% endfor %}
</div>
    <div class = "text-center">
        <a class="btn btn-success" style="margin-top: 20px" href="/admin/addphoto" role="button">Добавить фото</a>
    </div>
{% endblock %}