{% extends 'admin/header.html' %}

{% block content %}
<div class="row gy-3">
    {% for review in reviews %}
    <div class="col-md-6 col-xl-4" style="">
        <a href="/admin/edit_review/{{ review._id }}" class="d-flex flex-column card"
         style="
               color: black;
               cursor: pointer;
               text-align: left;
               background-color: #d9d9d9;
               position: relative;
               border-radius: 5px 5px 5px 5px;
               text-decoration: none;
               padding: 5px;
               margin-left: 50px;
               margin-right: 50px;
               margin-top: 10px;
               height: 100%;"
        >
        <div
            style="color: black; font-size: 18px; border-radius: 5px 5px 5px 5px;"
        >
            <nobr style="text-decoration: underline">Имя:</nobr>
          {% if review.name|length > 55 %}
          {{ review.name[:55] }}...
          {% else %}
          {{ review.name }}
          {% endif %}
        </div>

        <div class="new-text text-start p-3">
            <nobr style="text-decoration: underline">Отзыв:</nobr>
          {% if review.review|length > 55 %}
          {{ review.review[:55] }}...
          {% else %}
          {{ review.review }}
          {% endif %}
        </div>

         <div class="new-text text-start p-3">
             <nobr style="text-decoration: underline">Аватар:</nobr>
          {% if review.photo|length > 140 %}
          {{ review.photo[:140] }}...
          {% else %}
          {{ review.photo }}
          {% endif %}
        </div>

        <div class="new-text text-start p-3">
            <nobr style="text-decoration: underline">Название источника:</nobr>
          {% if review.source_name|length > 140 %}
          {{ review.source_name[:140] }}...
          {% else %}
          {{ review.source_name }}
          {% endif %}
        </div>

          <div class="new-text text-start p-3">
              <nobr style="text-decoration: underline">Ссылка на источник:</nobr>
          {% if review.source_link|length > 140 %}
          {{ review.source_link[:140] }}...
          {% else %}
          {{ review.source_link }}
          {% endif %}
        </div>

          <div class="new-text text-start p-3">
              <nobr style="text-decoration: underline">Дата:</nobr>
          {{ review.date }}
        </div>

        </a>
    </div>

  {% endfor %}
</div>
    <div class = "text-center">
        <a class="btn btn-success" style="margin-top: 20px" href="/admin/addreview" role="button">Добавить отзыв</a>
    </div>
{% endblock %}